.currentdetails h1 {
  font-family: "Noto Sans TC", sans-serif;
  color: #548ca8;
  font-size: 48px;
  line-height: 1.5;
}

.currentdetails ul {
  list-style: none;
  margin: 0 0 10px 0;
  padding: 0;
}
.currentdetails li {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #334257;
  position: relative;
  top: 4px;
}
.currentdetails .current-temp {
  line-height: 1;
  margin-bottom: 10px;
}

.currentdetails .current-temp strong {
  font-size: 65px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #476072;
}
.current-temp-unit a {
  font-family: "Noto Sans TC", sans-serif;
  color: #548ca8;
  text-decoration: none;
}

.current-temp-unit a:hover {
  text-decoration: none;
  color: #476072;
}

.current-temp-unit {
  position: relative;
  top: -33px;
  left: 5px;
  color: #476072;
  text-decoration: none;
}

.currentdetails .current-icon {
  position: relative;
  top: -15px;
}

@media (max-width: 576px) {
  #data-response {
    margin-top: 20px;
  }
}
