.weather .search-bar {
  margin-bottom: 10px;
  line-height: 3;
  font-size: 12px;
  font-family: "Noto Sans TC", sans-serif;
}
.weather .placeholder-text {
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  color: #548ca8;
  padding-left: 10px;
}
.weather .submit-button {
  width: 100%;
  border: 1px solid #476072;
  border-radius: 5px;
  background-color: #548ca8;
  color: #ffffff;
}
.weather .current-geo-location {
  color: #548ca8;
  font-size: 10px;
  font-family: "Noto Sans TC", sans-serif;
  text-align: left;
  padding-left: 15px;
}
.weather .current-geo-location:hover {
  text-decoration: underline;
  cursor: pointer;
}
.loader {
  text-align: center;
}

@media (max-width: 420px) {
  .submit-button {
    margin-top: 5px;
    font-size: 12px;
    margin-left: 0px;
    padding: 0;
    position: relative;
    top: -4px;
  }
}
